div.page {
  height: 100%; }
  div.page h1 {
    margin-top: 48px;
    text-align: center; }

.topbar {
  display: flex;
  font-size: 24px;
  font-weight: bold;
  color: #cfd8dc;
  background: #102027;
  padding: 16px;
  padding-right: 0; }
  .topbar .logo {
    flex: 1;
    font-weight: lighter; }
  .topbar .main-menu a {
    padding: 16px;
    color: #cfd8dc;
    text-decoration: none; }
    .topbar .main-menu a.active {
      background: #cfd8dc;
      color: #102027; }
